@media only screen and (min-width: 60em) {
    .homePage {
        margin: 0 auto;
        max-width: 767px;
        display: grid;
        grid-template-columns: 383.5px 383.5px;
        grid-template-rows: 500px;
        padding: 1%;
        grid-gap: 1%;
    }

    .article {
            grid-column: 1;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 100px 1fr;
            align-content: center;
            justify-content: center;


    }

.article h2 {
    grid-column: 1/-1;
    grid-row: 1;
}


    .articleImg {
        float: right;
        margin: 1%;
        max-width: 100%;
        grid-column: 2;
        grid-row: 2;
        margin-left: auto;    
    }

    .content {
        grid-column: 1;
        grid-row: 2;
        margin-top: -25%;
    }

    .amenities {
           grid-column:2;          
    }
    
    .amenities img {
            max-width: 85%;
            margin-right: 7%;
    }
}
