@media only screen and ( min-width: 32.5em ) {
    
    .navList {
        display: flex;
    }
    
    .navList li:first-child {
        display: none;
    }
     
    .navList li {
        display: block;
        flex: 1 1 100%;
    }

.articleImg {
    display: flex;
    margin: 0 auto;
    box-shadow: 0 0 10px 5px darkgrey;
    max-width: 100%;
    height:auto;
}

    .amenities img {
        max-width: 250px;
        display: flex;
        float: right;
        margin: 5px;
    }
    .contactInfo {
        margin: 0 auto;
        max-width: 767px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: solid;
        box-shadow: 0 0 5px grey;
        align-content:center;
    }

    .contact{
        grid-column: 2;
        align-self: center;
        padding: 5px;
       

     }

    .map {
        display: block;
        grid-column: 1;
        max-width: 100%;
    }

    .templeMain img{
        display: flex;
        max-width: 75%;
        margin: 0 auto;
       
    }
}