body {
    background-color: #584d3d;
    font-family: 'Oswald', sans-serif;
    max-width: 767px;
    margin: 0 auto;
}

p {
   font-family: 'Gelasio', serif;
}

header, header img {
    max-width: 767px;
    color: #fefcfd;
}



header h2 {
    text-align: end;
    padding: 0px;
    font-size: .75em
}

nav {
    background-color: #bfcde0;
    text-align: center;
    box-shadow: 0 2px 5px grey;
    margin: 0 auto;
    }
    
    nav ul {
      list-style-type: none;
      margin: 0 auto;
      padding: 0;
      overflow: hidden;
      max-width:767px;
      
      }
    
    .navList li:first-child {
    display: block; 
    }
    
    .navList li {
    display: none;
    }
    
    nav li a {
    display: block;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 1rem;
      color: #584d3d;
    
    }
    
    nav a:hover {
    background-color: #5d5d81;
    }
    
    .navList .active {
    color: #000505;
    }
    
    .responsive li {
    display: block;
    
    }
    .callButton {
        background-color: #fefcfd;
        text-decoration: none;
        color: #5d5d81;
        border: solid black;
        border-width: 5px;
        display: flex;
        margin: 5px 0px 5px; 0px;
        }

.article {
    border: solid;
    max-width: 500px;
    margin: 0 auto;
    background-color: #5d5d81;
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 10px;
}

.articleImg {
    box-shadow: 0 0 10px 5px darkgrey;
    max-width: 100%;
    height:auto;
}



.responsive li {
    display: block;
}