#assignements {
    text-align: center;
    border-radius: 10px;
    margin: auto;
}

h1 {
    font-family: 'Big Shoulders Text', cursive;
}

#center {
    text-align: center;
    background-color:#00daff;
    border-radius: 10px;
    padding: 0.5em;
    margin: 25px;
}

#profile {
    position: relative;
    float: right;
    width: 200px;
    top: -80px;
}

header {
    background-color: #00daff;
    border-radius: 10px;
    margin: 25px;
    text-align: center;
}