html { 
    font-family: 'Big Shoulders Text', cursive;
}

#assignments {
    text-align: center;
    border-radius: 10px;
    margin: auto;
}

h1 {
    margin-right: 5em;
   
}

ul {
    list-style-type:none;
}

h2 {
    margin-left: 3em;
}

#center {
    text-align: center;
    background-color:#00daff;
    border-radius: 10px;
    padding: 0.5em;
    margin: 25px;
}

#profile {
    position: relative;
    float: right;
    width: 200px;
    top: -80px;
}

header {
    background-color: #00daff;
    border-radius: 10px;
    margin: 25px;
    text-align: center;
}