body {
    margin: auto;
    text-align: center;
}

header {
    background-color: #69b5c1;
    border-radius: 10px;
    font-size: 1.5em;
}

.design-title {
    font-size: 1em;
}

article {
    margin: 10px;
    border-radius: 10px;
    background-color: #dad5d5;
}

img {
    width: 200px;
}