@media only screen and (min-width: 60em) {


footer {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.grid1 {
    justify-content: center;
    align-content: center;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }




    
}