body {
    font-family: 'Raleway', sans-serif;
}

header img {
    max-width: 100px;
    margin: 15px;
    border-radius: 0 5px 0 5px;
   box-shadow: 0px 0px 29px -4px rgba(0, 0, 0, 0.75);

  }

header,
  footer {
  background: #7c8483;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 1rem;
  box-shadow: 2px 2px 5px -1px rgba(0,0,0,.35);
  margin: 1rem auto;
}
header{
    color: #982649;
}

header,
nav,
main,
footer {
  max-width: 767px;
  margin: 0 auto;
}

h1 {
  font-size: 2rem;
}

h2 {
  color: #53f4ff;
    text-align: center;

}

nav {
  background-color: #60b2e5;
  text-align: center;
  box-shadow: 0 2px 5px grey;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navList:first-child {
  display: block; 
}

.navList li {
  display: none;
}



nav li a {
  display: block;
  text-align: center;
  padding: 0.75rem;
  text-decoration: none;
  font-size: 1rem;
    color: #982649;

}

nav a:hover {
  background-color: #982649;
  color: #53f4ff;
}

.responsive li {
  display: block;

}
main {
  display: grid;
  grid-template-columns: 1fr;
   text-align: center;
  font-size: 0.8rem;
}

main article {
  margin: .75rem;
  border-style:outset;
   border-width: .15rem;
   border-color: #dee7e7;
  padding: 0 1rem;
  background: -webkit-linear-gradient(top, #add9e4 0%,#d9edf2 60%,#f7fbfc 100%);

}
main img {
  max-width: 767px;
  display: flex;
  margin: 1rem;
    vertical-align: center;
}

footer {
  flex: 0 1 100%;
  height: 3rem;

}