@media only screen and ( min-width: 32.5em ){

.navList {
    display: flex;
}

.navList li:first-child {
    display: none;
}
 
.navList li {
    display: block;
    flex: 1 1 100%;
}

.five-day{
    display:block;
}


    
.contact img {
    display: flex;
    width: 65%;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;

}

#grid {
    justify-content: center;
    align-content: center;
    width: 100%;
    display: grid;
    grid-template-columns:1fr 1fr;
  }
#textMedium{
    display: flex;
    position: absolute;
    top: 40px;
    right: 40px;
    color: red;
    font-size: 2em;
  }

  #textSmall {
    display: none;
  }

  .towndata {
    grid-template-columns: 1fr;
}

.towndata img {
width: 50%;
float: left;
margin: auto;
}

.towndata div {
width: 50%;
float: right;
margin: auto;
}

section.towndata:nth-of-type(3) img {
width: 50%;
float: right;
margin: auto;
}

section.towndata:nth-of-type(3) div {
width: 50%;
float: left;
margin: auto;
}
}