table {
    font-family: "Ubuntu", sans-serif;
    text-align: center;
}

.theader,  {
    background-color: #7fb9c2;
    font-size: 2em;

}

.footer {
    background-color: #7fb9c2;

} {
    background-color: #7fb9c2;

}
.secondRow, .metGoal {
    color: white;
    background-color: #628ca6;
    
}

.grey {
    background-color:  #e7f0ed;
}
.mint {
    background-color: #e7ffed;
}